body{
    background-color: darkolivegreen;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: antiquewhite;
    text-align: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
    padding: 20px 80px;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-right li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.header-right li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.header-right li a:hover, .header-right li a:active {
    color: yellow;
}
.header-right li a.active::after, .header-right li a:hover::after{
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: yellow;
    position: absolute;
    left: 20px;

}
.left-col{
    float: left;
    width: 100%;
}
.right-col{
    float: right;
    width: 100%;
    background-color: gray;
    padding: 20px;
}
p{
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: lightcoral;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
}

h2{
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
}
.image{
    display: block;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
#logo{
    width: 150px; 
    height: auto;
}
.index-list{
    justify-content: center;   
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
    background-color: grey;
    padding: 20px;
    width: 100%;
    float: left;
}
.my-info{
    text-align: left;
}
#contact{
    color: white;
}
.form-div{
    background-color: maroon;
    padding: 20px;
    width: 100%;
    float: left;
}
.form{
    text-align: center;
}
.list-items{
    color: white
}
a {
    color: blue;
}
a:hover, a:active {
    color: red;
}
a:visited {
    color: pink;
}
@media only screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right{
      float: none;
    }
    .left-col{
      width: 100%;
    }
    .right-col{
      width: 100%;
    }
    .content{
      font-size: 30px;
    }
  }